<a href="https://colab.research.google.com/github/Amjad-Bin-Aslam/Data-Analysis-Practice/blob/main/05_Pandas/02_Pandas_Exercise.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# DataFrames
A DataFrame is a 2D table (rows + columns), just like an Excel sheet or SQL table.

* Every single row or column in data frame is called series.

# Creating DataFrame

In [23]:
import pandas as pd
import numpy as np

In [88]:
# using list
student_list = [
    [100,80,10],
    [90,70,7],
    [120,100,14],
    [80,50,2]
]
student_list # 2D list
student = pd.DataFrame(student_list,columns=["iq","marks","package"])
print(student)

    iq  marks  package
0  100     80       10
1   90     70        7
2  120    100       14
3   80     50        2

In [25]:
# using dict
student_dict = {
    'iq': [100,90,120,80],
    'marks': [80,70,100,50],
    'package': [10,7,14,2]
}
dataFrame = pd.DataFrame(student_dict)
print(dataFrame)
print(type(dataFrame))

    iq  marks  package
0  100     80       10
1   90     70        7
2  120    100       14
3   80     50        2
<class 'pandas.core.frame.DataFrame'>

In [31]:
# using read_csv
matches = pd.read_csv('/content/matches.csv')
movies = pd.read_csv('/content/movies.csv')

# DataFrame Attributes

### .shape
It is about that how many no. of rows and columns are in a DataFrame.

In [32]:
movies.shape

(1629, 18)

## .dtypes
It gives data type of columns.

In [54]:
movies.dtypes

title_x              object
imdb_id              object
poster_path          object
wiki_link            object
title_y              object
original_title       object
is_adult              int64
year_of_release       int64
runtime              object
genres               object
imdb_rating         float64
imdb_votes            int64
story                object
summary              object
tagline              object
actors               object
wins_nominations     object
release_date         object
dtype: object

## .index
By default it return range of index that starts from 0.
Index number can be modified.

In [42]:
matches.index

RangeIndex(start=0, stop=950, step=1)

In [39]:
data = {
    'Name': ['John', 'Alice', 'Bob'],
    'Age': [25, 30, 22]
}
df = pd.DataFrame(data, index=['user1', 'user2', 'user3'])
print(df.index)
print(df.loc['user2'])

Index(['user1', 'user2', 'user3'], dtype='object')
Name    Alice
Age        30
Name: user2, dtype: object

## .columns
It fetch the name of all column from Data set.

In [56]:
dataFrame.columns

Index(['iq', 'marks', 'package'], dtype='object')

## .values
Fetch all values from DataSet/DataFrame

In [57]:
print(student_list)
print("-----Printig tha values from DataFrame-----")
student_df = pd.DataFrame(student_list)
student_df.values

[[100, 80, 10], [90, 70, 7], [120, 100, 14], [80, 50, 2]]
-----Printig tha values from DataFrame-----

array([[100,  80,  10],
       [ 90,  70,   7],
       [120, 100,  14],
       [ 80,  50,   2]])

# DataFrame Methods/Functions

## head() and tail()
* by default head() return data of top five element from dataFrame
* by default tail() return data of five element from last of data set.

In [62]:
# head()
matches.head(2)
# tail()
matches.tail(2)

,ID,City,Date,Season,MatchNumber,Team1,Team2,Venue,TossWinner,TossDecision,SuperOver,WinningTeam,WonBy,Margin,method,Player_of_Match,Team1Players,Team2Players,Umpire1,Umpire2
948,335983,Chandigarh,2008-04-19,2007/08,2,Kings XI Punjab,Chennai Super Kings,"Punjab Cricket Association Stadium, Mohali",Chennai Super Kings,bat,N,Chennai Super Kings,Runs,33.0,NaN,MEK Hussey,"['K Goel', 'JR Hopes', 'KC Sangakkara', 'Yuvra...","['PA Patel', 'ML Hayden', 'MEK Hussey', 'MS Dh...",MR Benson,SL Shastri
949,335982,Bangalore,2008-04-18,2007/08,1,Royal Challengers Bangalore,Kolkata Knight Riders,M Chinnaswamy Stadium,Royal Challengers Bangalore,field,N,Kolkata Knight Riders,Runs,140.0,NaN,BB McCullum,"['R Dravid', 'W Jaffer', 'V Kohli', 'JH Kallis...","['SC Ganguly', 'BB McCullum', 'RT Ponting', 'D...",Asad Rauf,RE Koertzen

## sample()
Randomy fetch a single row from DataFrame.
By default this method just fetch single row but we can change number of rows.

In [64]:
movies.sample(2)

,title_x,imdb_id,poster_path,wiki_link,title_y,original_title,is_adult,year_of_release,runtime,genres,imdb_rating,imdb_votes,story,summary,tagline,actors,wins_nominations,release_date
980,Singh Is Kinng,tt1146325,https://upload.wikimedia.org/wikipedia/en/thum...,https://en.wikipedia.org/wiki/Singh_Is_Kinng,Singh Is King,Singh Is Kinng,0,2008,135,Action|Comedy|Crime,5.7,13333,Happy Singh lives in a small village in Punjab...,A comic caper about Happy Singh a Punjabi vil...,Summer 2008: The gang of Punjab arrives with a...,Akshay Kumar|Katrina Kaif|Om Puri|Kiron Kher|R...,5 wins & 4 nominations,8 August 2008 (USA)
719,Chakravyuh (2012 film),tt2292625,https://upload.wikimedia.org/wikipedia/en/thum...,https://en.wikipedia.org/wiki/Chakravyuh_(2012...,Chakravyuh,Chakravyuh,0,2012,152,Action|Drama|Thriller,6.8,2876,On the request of his friend Kabir SP Adil Se...,On the request of his friend Kabir SP Adil Se...,NaN,Arjun Rampal|Abhay Deol|Manoj Bajpayee|Esha Gu...,1 nomination,24 October 2012 (India)

## info()
Prints the consice summary of DataFrame

In [65]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1629 entries, 0 to 1628
Data columns (total 18 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   title_x           1629 non-null   object
 1   imdb_id           1629 non-null   object
 2   poster_path       1526 non-null   object
 3   wiki_link         1629 non-null   object
 4   title_y           1629 non-null   object
 5   original_title    1629 non-null   object
 6   is_adult          1629 non-null   int64
 7   year_of_release   1629 non-null   int64
 8   runtime           1629 non-null   object
 9   genres            1629 non-null   object
 10  imdb_rating       1629 non-null   float64
 11  imdb_votes        1629 non-null   int64
 12  story             1609 non-null   object
 13  summary           1629 non-null   object
 14  tagline           557 non-null    object
 15  actors            1624 non-null   object
 16  wins_nominations  707 non-null    object
 17  release_date      1522 non-null   object
dtypes: float64(1), int64(3), object(14)
memory usage: 229.2+ KB

## describe()
that method return description of DataFrame.
It return mathematical summary of DataFrame

In [68]:
movies.describe()

       is_adult  year_of_release  imdb_rating     imdb_votes
count    1629.0      1629.000000  1629.000000    1629.000000
mean        0.0      2010.263966     5.557459    5384.263352
std         0.0         5.381542     1.567609   14552.103231
min         0.0      2001.000000     0.000000       0.000000
25%         0.0      2005.000000     4.400000     233.000000
50%         0.0      2011.000000     5.600000    1000.000000
75%         0.0      2015.000000     6.800000    4287.000000
max         0.0      2019.000000     9.400000  310481.000000

## insull()
It check for the null values in the DataFrame and return boolean values.

In [71]:
print(movies.isnull().sum())

title_x                0
imdb_id                0
poster_path          103
wiki_link              0
title_y                0
original_title         0
is_adult               0
year_of_release        0
runtime                0
genres                 0
imdb_rating            0
imdb_votes             0
story                 20
summary                0
tagline             1072
actors                 5
wins_nominations     922
release_date         107
dtype: int64

## duplicated()
This print whether there are duplicated values in DataFrame or not.

In [76]:
print(movies.duplicated().sum())

0

## rename()
Use to rename column names in DataFrame.
To change the name permanantly we have to use the inplace parameter.

In [94]:
print("-----Before raname")
print(student)
print("-----After rename-----")
student.rename(columns={'marks':'std_marks'})

-----Before raname
    iq  marks  package
0  100     80       10
1   90     70        7
2  120    100       14
3   80     50        2
-----After rename-----

    iq  std_marks  package
0  100         80       10
1   90         70        7
2  120        100       14
3   80         50        2

# Mathematical Methods/Functions

In [104]:
# sum
print("-----column-wise sum-------")
print(student.sum())
print("----row-wise sum-----")
print(student.sum(axis=1))
print("------sum of specific column------")
print(student['marks'].sum())

-----column-wise sum-------
iq         390
marks      300
package     33
dtype: int64
----row-wise sum-----
0    190
1    167
2    234
3    132
dtype: int64
------sum of specific column------
300

In [106]:
# mean (can be column-wise and row-wise)
student.mean()

iq         97.50
marks      75.00
package     8.25
dtype: float64

In [109]:
# min (can be col-wise and row-wise)
student.min()

iq         80
marks      50
package     2
dtype: int64

In [114]:
# max (can be col-wise and row-wise)
print("-----max of all columns-----")
print(student.max())
print("-----max value from specific column-----")
print("maximum marks: ",student['marks'].max())

-----max of all columns-----
iq         120
marks      100
package     14
dtype: int64
-----max value from specific column-----
maximum marks:  100

# Selecting cols from a DataFrame

In [118]:
# fetching single column
movies['actors'].head()

0    Vicky Kaushal|Paresh Rawal|Mohit Raina|Yami Ga...
1    Vicky Ahuja|Shoaib Ibrahim|Shrikant Kamat|Elen...
2    Anupam Kher|Akshaye Khanna|Aahana Kumra|Atul S...
3    Emraan Hashmi|Shreya Dhanwanthary|Snighdadeep ...
4    Mona Ambegaonkar|Ananth Narayan Mahadevan|Deva...
Name: actors, dtype: object

In [120]:
matches['Venue'].head()

0    Narendra Modi Stadium, Ahmedabad
1    Narendra Modi Stadium, Ahmedabad
2               Eden Gardens, Kolkata
3               Eden Gardens, Kolkata
4            Wankhede Stadium, Mumbai
Name: Venue, dtype: object

In [123]:
# Fetching multiple columns
movies[['title_x','year_of_release','actors']].head()

,title_x,year_of_release,actors
0,Uri: The Surgical Strike,2019,Vicky Kaushal|Paresh Rawal|Mohit Raina|Yami Ga...
1,Battalion 609,2019,Vicky Ahuja|Shoaib Ibrahim|Shrikant Kamat|Elen...
2,The Accidental Prime Minister (film),2019,Anupam Kher|Akshaye Khanna|Aahana Kumra|Atul S...
3,Why Cheat India,2019,Emraan Hashmi|Shreya Dhanwanthary|Snighdadeep ...
4,Evening Shadows,2018,Mona Ambegaonkar|Ananth Narayan Mahadevan|Deva...

# Selecting rows from DataFrame
* iloc - searches using index position
* loc - searches using index labels

In [136]:
student_dict = {
    'name': ['amjad','zain','ahmad','talha'],
    'iq': [100,90,120,80],
    'marks': [80,90,100,70],
    'package': [10,7,14,4]
}
student_df1 = pd.DataFrame(student_dict)
student_df1.set_index('name', inplace=True) # set name column as index number
print(student_df1)

        iq  marks  package
name
amjad  100     80       10
zain    90     90        7
ahmad  120    100       14
talha   80     70        4

In [139]:
# single row
matches.iloc[0]

ID                                                           1312200
City                                                       Ahmedabad
Date                                                      2022-05-29
Season                                                          2022
MatchNumber                                                    Final
Team1                                               Rajasthan Royals
Team2                                                 Gujarat Titans
Venue                               Narendra Modi Stadium, Ahmedabad
TossWinner                                          Rajasthan Royals
TossDecision                                                     bat
SuperOver                                                          N
WinningTeam                                           Gujarat Titans
WonBy                                                        Wickets
Margin                                                           7.0
method                                                           NaN
Player_of_Match                                            HH Pandya
Team1Players       ['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D ...
Team2Players       ['WP Saha', 'Shubman Gill', 'MS Wade', 'HH Pan...
Umpire1                                                  CB Gaffaney
Umpire2                                                  Nitin Menon
Name: 0, dtype: object

In [141]:
# multiple rows
movies.iloc[0:4]

,title_x,imdb_id,poster_path,wiki_link,title_y,original_title,is_adult,year_of_release,runtime,genres,imdb_rating,imdb_votes,story,summary,tagline,actors,wins_nominations,release_date
0,Uri: The Surgical Strike,tt8291224,https://upload.wikimedia.org/wikipedia/en/thum...,https://en.wikipedia.org/wiki/Uri:_The_Surgica...,Uri: The Surgical Strike,Uri: The Surgical Strike,0,2019,138,Action|Drama|War,8.4,35112,Divided over five chapters the film chronicle...,Indian army special forces execute a covert op...,NaN,Vicky Kaushal|Paresh Rawal|Mohit Raina|Yami Ga...,4 wins,11 January 2019 (USA)
1,Battalion 609,tt9472208,NaN,https://en.wikipedia.org/wiki/Battalion_609,Battalion 609,Battalion 609,0,2019,131,War,4.1,73,The story revolves around a cricket match betw...,The story of Battalion 609 revolves around a c...,NaN,Vicky Ahuja|Shoaib Ibrahim|Shrikant Kamat|Elen...,NaN,11 January 2019 (India)
2,The Accidental Prime Minister (film),tt6986710,https://upload.wikimedia.org/wikipedia/en/thum...,https://en.wikipedia.org/wiki/The_Accidental_P...,The Accidental Prime Minister,The Accidental Prime Minister,0,2019,112,Biography|Drama,6.1,5549,Based on the memoir by Indian policy analyst S...,Explores Manmohan Singh's tenure as the Prime ...,NaN,Anupam Kher|Akshaye Khanna|Aahana Kumra|Atul S...,NaN,11 January 2019 (USA)
3,Why Cheat India,tt8108208,https://upload.wikimedia.org/wikipedia/en/thum...,https://en.wikipedia.org/wiki/Why_Cheat_India,Why Cheat India,Why Cheat India,0,2019,121,Crime|Drama,6.0,1891,The movie focuses on existing malpractices in ...,The movie focuses on existing malpractices in ...,NaN,Emraan Hashmi|Shreya Dhanwanthary|Snighdadeep ...,NaN,18 January 2019 (USA)

In [142]:
# fancy indexing
movies.iloc[[1,3,4]]

,title_x,imdb_id,poster_path,wiki_link,title_y,original_title,is_adult,year_of_release,runtime,genres,imdb_rating,imdb_votes,story,summary,tagline,actors,wins_nominations,release_date
1,Battalion 609,tt9472208,NaN,https://en.wikipedia.org/wiki/Battalion_609,Battalion 609,Battalion 609,0,2019,131,War,4.1,73,The story revolves around a cricket match betw...,The story of Battalion 609 revolves around a c...,NaN,Vicky Ahuja|Shoaib Ibrahim|Shrikant Kamat|Elen...,NaN,11 January 2019 (India)
3,Why Cheat India,tt8108208,https://upload.wikimedia.org/wikipedia/en/thum...,https://en.wikipedia.org/wiki/Why_Cheat_India,Why Cheat India,Why Cheat India,0,2019,121,Crime|Drama,6.0,1891,The movie focuses on existing malpractices in ...,The movie focuses on existing malpractices in ...,NaN,Emraan Hashmi|Shreya Dhanwanthary|Snighdadeep ...,NaN,18 January 2019 (USA)
4,Evening Shadows,tt6028796,NaN,https://en.wikipedia.org/wiki/Evening_Shadows,Evening Shadows,Evening Shadows,0,2018,102,Drama,7.3,280,While gay rights and marriage equality has bee...,Under the 'Evening Shadows' truth often plays...,NaN,Mona Ambegaonkar|Ananth Narayan Mahadevan|Deva...,17 wins & 1 nomination,11 January 2019 (India)

In [147]:
# single row
student_df1.loc['amjad']

iq         100
marks       80
package     10
Name: amjad, dtype: int64

In [150]:
# multiple rows
student_df1.loc['amjad':'ahmad'] # first row and last row, both are included

        iq  marks  package
name
amjad  100     80       10
zain    90     90        7
ahmad  120    100       14

In [152]:
# fancy indexing
student_df1.loc[['amjad','talha']]

        iq  marks  package
name
amjad  100     80       10
talha   80     70        4

# Selecting both rows and cols simaltaneously.

In [155]:
movies.iloc[0:3,0:3] # first three rows with first two cols

,title_x,imdb_id,poster_path
0,Uri: The Surgical Strike,tt8291224,https://upload.wikimedia.org/wikipedia/en/thum...
1,Battalion 609,tt9472208,NaN
2,The Accidental Prime Minister (film),tt6986710,https://upload.wikimedia.org/wikipedia/en/thum...

# Filtering DataFrame
* Filtering data means selecting only the rows that match certain conditions from a dataset.
* You keep what you need and remove what you dont.

In [172]:
# find all the final winners
final = matches['MatchNumber'] == "Final"
new_df = matches[final]
new_df[['Season','WinningTeam']]

      Season            WinningTeam
0       2022         Gujarat Titans
74      2021    Chennai Super Kings
134  2020/21         Mumbai Indians
194     2019         Mumbai Indians
254     2018    Chennai Super Kings
314     2017         Mumbai Indians
373     2016    Sunrisers Hyderabad
433     2015         Mumbai Indians
492     2014  Kolkata Knight Riders
552     2013         Mumbai Indians
628     2012  Kolkata Knight Riders
702     2011    Chennai Super Kings
775  2009/10    Chennai Super Kings
835     2009        Deccan Chargers
892  2007/08       Rajasthan Royals

In [177]:
# how many super over finishes have occured
matches[matches['SuperOver'] == "Y"].shape[0]

14

In [191]:
# how many matches has csk won in kolkata
kolkata_matches = matches[matches['City'] == 'Kolkata']
kolkata_matches[kolkata_matches['WinningTeam'] == 'Chennai Super Kings'].shape[0]

# 2nd method to write this code
matches[(matches['City'] == "Kolkata") & (matches['WinningTeam'] == "Chennai Super Kings")].shape[0]

5

In [165]:
matches.head(2)

,ID,City,Date,Season,MatchNumber,Team1,Team2,Venue,TossWinner,TossDecision,SuperOver,WinningTeam,WonBy,Margin,method,Player_of_Match,Team1Players,Team2Players,Umpire1,Umpire2
0,1312200,Ahmedabad,2022-05-29,2022,Final,Rajasthan Royals,Gujarat Titans,"Narendra Modi Stadium, Ahmedabad",Rajasthan Royals,bat,N,Gujarat Titans,Wickets,7.0,NaN,HH Pandya,"['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D ...","['WP Saha', 'Shubman Gill', 'MS Wade', 'HH Pan...",CB Gaffaney,Nitin Menon
1,1312199,Ahmedabad,2022-05-27,2022,Qualifier 2,Royal Challengers Bangalore,Rajasthan Royals,"Narendra Modi Stadium, Ahmedabad",Rajasthan Royals,field,N,Rajasthan Royals,Wickets,7.0,NaN,JC Buttler,"['V Kohli', 'F du Plessis', 'RM Patidar', 'GJ ...","['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D ...",CB Gaffaney,Nitin Menon

In [228]:
# toss winner is match winner in percentage
total_matches = matches.shape[0]
print("Total number of matches: ",total_matches)

toss_winner_matches = matches[matches['TossWinner'] == matches['WinningTeam']]

toss_win_count = toss_winner_matches.shape[0]
print("Toss win count :", toss_win_count)

percentage = (toss_win_count/total_matches) * 100
print("Percentage: ",percentage)

# A short method to write this code
percentage = (matches[matches['TossWinner'] == matches['WinningTeam']].shape[0]/matches.shape[0]) * 100
print("Percentage by short code ",percentage)

Total number of matches:  950
Toss win count : 489
Percentage:  51.473684210526315
Percentage by short code  51.473684210526315

In [241]:
# movies with rating highier than 8 amdb and votes > 10000
required = movies[(movies['imdb_rating'] > 8) & (movies['imdb_votes'] > 10000)].shape[0]
print(required)

43

In [229]:
movies.head(2)

,title_x,imdb_id,poster_path,wiki_link,title_y,original_title,is_adult,year_of_release,runtime,genres,imdb_rating,imdb_votes,story,summary,tagline,actors,wins_nominations,release_date
0,Uri: The Surgical Strike,tt8291224,https://upload.wikimedia.org/wikipedia/en/thum...,https://en.wikipedia.org/wiki/Uri:_The_Surgica...,Uri: The Surgical Strike,Uri: The Surgical Strike,0,2019,138,Action|Drama|War,8.4,35112,Divided over five chapters the film chronicle...,Indian army special forces execute a covert op...,NaN,Vicky Kaushal|Paresh Rawal|Mohit Raina|Yami Ga...,4 wins,11 January 2019 (USA)
1,Battalion 609,tt9472208,NaN,https://en.wikipedia.org/wiki/Battalion_609,Battalion 609,Battalion 609,0,2019,131,War,4.1,73,The story revolves around a cricket match betw...,The story of Battalion 609 revolves around a c...,NaN,Vicky Ahuja|Shoaib Ibrahim|Shrikant Kamat|Elen...,NaN,11 January 2019 (India)

In [252]:
# Action movies with rating highier than 7.5
# mask1 = movies['genres'].str.contains("Actions")
mask1 = movies['genres'].str.split('|').apply(lambda x: "Action" in x)
mask2 = movies['imdb_rating'] > 7.5
movies[mask1 & mask2].shape[0]

33

In [254]:
# write a function that can return the track of two teams each other
matches.columns

Index(['ID', 'City', 'Date', 'Season', 'MatchNumber', 'Team1', 'Team2',
       'Venue', 'TossWinner', 'TossDecision', 'SuperOver', 'WinningTeam',
       'WonBy', 'Margin', 'method', 'Player_of_Match', 'Team1Players',
       'Team2Players', 'Umpire1', 'Umpire2'],
      dtype='object')